name: CI

on:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: read

concurrency:
  group: {{ '${{ github.workflow }}-${{ github.ref }}' }}
  cancel-in-progress: true

jobs:
  python:
    uses: odvprogra/engineering-standards/.github/workflows/python-ci.yml@{{ standards_ref }}
    secrets: inherit

  security:
    uses: odvprogra/engineering-standards/.github/workflows/security.yml@{{ standards_ref }}
