from importlib.metadata import version

import {{ package_name }}


def test_package_version_matches_distribution_metadata() -> None:
    assert {{ package_name }}.__version__ == version("{{ project_slug }}")
